<p class="pageHeader"> New Department </p>

<form action="/departments" method="post">
    <label for="title">Title of Department: </label>
    <input type="text" class="inputBox" name="title" required="true" id="title"/>

    <input type="submit" value="save" class="button"/>
</form>