<h1> WELCOME TO THIS EXCELLENT DATABASE </h1>

<a href="/managers">SHOW ME THE MANAGERS</a>
<a href="/departments">SHOW ME THE DEPARTMENTS</a>
<a href="/engineers">SHOW ME THE ENGINEERS</a>
<a href="/employees">SHOW ME ALL THE EMPLOYEES</a>